<div id="heading">
	<h1>WELCOME TO PROJECT CONNECT</h1>	
</div>

<div id="wrapper">
<div class="sign_in">
	<h2> LOG IN </h2>
	<form method="post" action="/sign-in">
	<input type="text" id="username" name="username" placeholder="USERNAME"><br>
	<input type="password" id="password" name="password" placeholder="PASSWORD"><br>
	<input type="submit" id="log" class="button">
	</form>
</div>

<div class="sign_up">
	<h2> SIGN UP </h2>
	<form method="post" action="/sign-up">
		<input type="text" id="name" name="name" placeholder="NAME"><br>
		<input type="number" id="phone" name="phone" placeholder="PHONE #"><br>
		<input type="text" id="username_2" name="username" placeholder="USERNAME"><br>
		<input type="password" id="password_2"  name="password" placeholder="PASSWORD"><br>
		<input type="submit" class="button">
	</form>
</div>
</div>
