
<div class="sign_in">
	<form method="post" action="/sign-in">
	<input type="text" name="username" placeholder="Enter your username">
	<input type="password" name="password" placeholder="Enter your password">
	<input type="submit">
	</form>
</div>

<div class="sign_up">
	<form method="post" action="/sign-up">
		<input type="text" name="name" placeholder="Enter your name">
		<input type="number" name="phone" placeholder="Enter your phone number">
		<input type="text" name="username" placeholder="Enter your username">
		<input type="password" name="password" placeholder="Enter your password">
		<input type="submit">
	</form>
</div>
