<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="bg-img"></div>
	<nav id="nav">
		<ul>
			<%if @user%>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/account">Account</a></li>
			<li id="log_out"><a href="/log-out">Log Out</a></li>
			<%else%>

			<%end%>
		</ul>
	</nav>
	<div class="notice">
		<%= flash[:notice] if flash[:notice] %>
	</div>

	<div class="error">
		<%= flash[:error] if flash[:error] %>
	</div>

	<%=yield %>
	


</body>
</html>