<div class="topbar">
	<h1><%=@user.name %>'s Profile</h1>
</div>

<%if @profile %>	
	<div id="current_profile">
		<p> city : <%= @profile.city%></p>
		<p> field : <%= @profile.field%></p>
		<p> Bio : <%= @profile.bio%></p>
	</div>
<%end%>

<%if @profile %>
	<div id="change_profile">
		<form method="POST" action="/update_profile">
			<h2>CHANGE YOUR PROFILE</h2>	
			
			<input type="text" id="city" name="city" placeholder="CITY">

		
			<input type="text" id="field" name="field" placeholder="FIELD"></br>

			
			<input type="text" id="bio" name="bio" placeholder="BIO"><br>
			
			<input type="submit" class=button_2 name="submit">
		</form>

		<form method="POST" action="/update_password">
			<h2> change your password</h2>
		
			<input type="password" name="c_password" id="c_password" placeholder="CURRENT PASSWORD"><br>

			
			<input type="password" name="n_password" id="n_password" placeholder="NEW PASSWORD"><br>

			<input type="submit" name="submit" id="button_3">
		</form>
	</div>
<%else%>
	<div id="create_profile">
	<form method="POST" action="/create_profile">
		<h2>create your profile</h2>	
		
		<input type="text" id="city" name="city" placeholder="CITY">

		
		<input type="text" id="field" name="field" placeholder="FIELD">

		
		<input type="text" id="bio" name="bio" placeholder="BIO"> <br>
		
		<input type="submit" name="submit" id="button_3">
	</form>
</div>
<%end%>