@import url(http://fonts.googleapis.com/css?family=Oswald|Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);

/*===================================== INDEX PAGE==========================*/
body {
	font-family:Cabin,sans-serif;
	  padding: 0;
	  margin:0;
	  /*background-image: url("newbg.jpg");*/
	  background: linear-gradient(-120deg, #3d18fb 0%, #cea2df 51%, #fecdd3 75%);
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-attachment: fixed;
	  background-size: 100%;

}

#nav {
  /*box-shadow: 0px 1px #a8a8a8, 0px 2px #a8a8a8, 0px 3px #a8a8a8;*/
  position: relative;
  left: 0;
  right: 0;
}

#nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
}

#nav ul li a {
  font-family: Oswald;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0a0a0a;
  padding: 1em .5em .45em .5em;
  transition: .5s all ease-in;
}

#nav ul li a:hover {
  color: #fff;
  box-shadow: 0px 1px #303030, 0px 2px #303030, 0px 3px #303030;
}

#heading{
	color: white;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

#wrapper{
	width: 815px;
	margin: 0 auto;
}

.sign_in, .sign_up{
	width: 300px;
	height: 320px;
	border-style: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	margin: 0 50px;
	margin-top: 100px;
	float: left;

}

#username{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
}

#password{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	margin-bottom: 11px;
}

.button{
	border-style: solid;
	border-width: 2px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 15px;
	width: 138px;
}

#log{
	margin-top: 82px;
}

h2 {
	color: white;
	margin-top: 10px;
}


#name{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
}

#phone{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
}

#username_2{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
}

#password_2{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
}
/*==================================END OF INDEX==========================*/

.topbar {
	text-transform: uppercase;
	height: 4em;
    background-color: none;
    width: 400px;
    margin: 0 auto;

}

.topbar h1{
	text-align: center;
    padding: 0.4em;
    width: 400px;

}

/*===================================== PROFILE PG==========================*/

.notice{
	text-align: center;
	color: white;
	font-size: 20px;
}

.error{
	text-align: center;
	color: white;
	font-size: 20px;
}


#create_profile {
	width: 520px;
	margin: 20px auto;
    text-transform: uppercase;
    border: 3px solid;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

#create_profile form {
	margin: 0 auto;
}


#city{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
	margin-right:10px;

}

#field{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}

#bio{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
	width:265px;
	height:100px;
}

#current_profile{
	width: 520px;
    margin: 20px auto;
    text-transform: uppercase;
    border: 3px solid;
    padding: 20px;
}

#change_profile{
	width: 566px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
}

#change_profile form{
	text-transform: uppercase;
    border: 3px solid;
    padding: 30px;
    margin-bottom: 20px;
    height: 280px;
}

#city{
	margin-top: 10px;
	margin-bottom: 10px;
}

#field {
	margin-top: 10px;
	margin-bottom: 10px;
}

#bio{
	margin-top: 10px;
	margin-bottom: 10px;
}

.button_2{
	margin-top: 20px;
	border-style: solid;
	border-width: 2px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 15px;
	width: 138px;
}

#c_password {
	margin: 0 auto;
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	padding: 10px;
	text-align: center;
	width:120px;
	margin-bottom: 15px;
	margin-top: 15px;
}

#n_password {
	margin: 0 auto;
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	padding: 10px;
	text-align: center;
	width:120px;
}

#button_3 {
	margin-top: 10px;
	border-style: solid;
	border-width: 2px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-top: 15px;
	width: 138px;

}



/*===================================== PROFILE END==========================*/

/*===================================== ACCOUNT START==========================*/

/*===================================== ACCOUNT END==========================*/




