@import url(http://fonts.googleapis.com/css?family=Oswald|Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);

/*===================================== INDEX PAGE==========================*/
body {
	font-family:Cabin,sans-serif;
	  padding: 0;
	  margin:0;
	  background-image: url("newbg.jpg");
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-attachment: fixed;
	  background-size: 100%;

}

#nav {
  /*box-shadow: 0px 1px #a8a8a8, 0px 2px #a8a8a8, 0px 3px #a8a8a8;*/
  position: relative;
  left: 0;
  right: 0;
}

#nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
}

#nav ul li a {
  font-family: Oswald;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0a0a0a;
  padding: 1em .5em .45em .5em;
  transition: .5s all ease-in;
}

#nav ul li a:hover {
  color: #fff;
  box-shadow: 0px 1px #303030, 0px 2px #303030, 0px 3px #303030;
}

#heading{
	color: white;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.sign_in{
	width: 300px;
	height: 320px;
	border-style: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	margin-left: 200px;
	margin-top: 100px;
	float: left;

}

#username{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}

#password{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}

.button{
	border-style: solid;
	border-width: 2px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;

}

h2 {
	color: white;
	margin-top: 10px;
}

.sign_up{
	width: 300px;
	height: 320px;
	border-style: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	float: left;
	margin-top: 100px;
	margin-left: 200px;
}

#name{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}

#phone{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}

#username_2{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}

#password_2{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}
/*==================================END OF INDEX==========================*/


/*===================================== PROFILE PG==========================*/

.notice{
	text-align: center;
	color: white;
	font-size: 20px;
}

.error{
	text-align: center;
	color: white;
	font-size: 20px;
}

#create_profile {
	width: 350px;
	height: 320px;
	border-style: solid;
	border-width: 4px;
	border-color: white;
	text-align: center;
	margin-left: 200px;
	margin-top: 100px;
	float: left;
}

#city{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;

}

#field{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}

#bio{
	border-background:none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 5px;
}







